@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond&display=swap');


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.adminpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.b
{
  border:  1px solid #d4d4d4;
  border-radius: 15px;
}

.bb
{
  border-bottom:  1px solid #d4d4d4;
}

.bt
{
  border-top:  1px solid #d4d4d4;
}

.bl
{
  border-left:  1px solid #d4d4d4;
}

.br
{
  border-right:  1px solid #d4d4d4;
}

.fw-bbx {
  width: 100%;
  box-sizing: border-box;
  background-color: white; /* Background color of the box */
  margin: 0; /* Ensure no extra margin is added */
}

.fw
{
  width: 100%;
  margin: 0; /* Ensure no extra margin is added */
}

.heading_name {
  display: block;
  width: 100%; /* Ensure the heading spans the full width */
  font-weight: 600; /* Optional: Make the heading stand out */
  font-size: 16px;
  text-align: left;
  margin: 10px;
}

.info
{
  display: block;
  width: 100%; /* Ensure the heading spans the full width */
  font-size: 12px;
  text-align: left;
  color: #808080;
  margin: 10px;
}


.final-price
{
  font-size: 30px;
  font-weight: 600;
  text-align: end;
 font-family: "Cormorant Garamond", serif;
}

.alert-red  
{
  color: #c20b0b;
  font-weight: 600;
}

.headingname
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 500;
  display: block;
  
}

.sub-heading-regular
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* font-weight: 500; */
  display: block;
}

.ordercount
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
 font-size: 30px;
 display: block;
}


.orderdesc
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
 font-size: 14px;
 display: block;
}


.addCategory
{
  width: 150px;
  height: 5px;
}